<h1>Welcome to <%= @artist.name %>'s page!</h1>
<br>
<br>
<h3>Name: <%= @artist.name %></h3>
<h3>Age: <%= @artist.age %></h3>
<h3>Bio: <%= @artist.bio %></h3>
<br>
<br>
<form method="POST" action="/artists/<%= @artist.id %>/edit">
    <input type="hidden" name="_method" value="GET">
    <input type="submit" value="Edit artist">
</form>
<br>
<br>
<form method="POST" action="/artists/<%= @artist.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete artist">
</form>

